* { box-sizing: border-box; }

body { font-family: sans-serif; }

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.carousel-cell {
  width: 100%;
  height: 50%;
  background-size: cover;
}
